.container {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
  gap: 20px;
  padding: 20px;
}

@media only screen and (min-width: 200px) and (max-width: 739px) {
  .container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: scroll;
    padding: 20px;
  }

  .container::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (min-width: 740px) and (max-width: 1024px) and (orientation: landscape) {

  /* Styles for tablets in landscape mode */
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    gap: 20px;
    padding: 20px;
  }
}