.product-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 70px;
}

.product-container {
    display: flex;
    gap: 20px;
}

.product-image-slider {
    height: 420px;
    border-radius: 7px;
}

.product-image-selector {
    display: flex;
}

.product-single-image {
    height: 90px;
    border-radius: 7px;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.action-section {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    width: 60%;
    float: right;
    margin: 5px 0;
}

.recommendation {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.recommendation-products ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.similar-product-container {
    width: min-content;
    border: 1px solid gray;
    border-radius: 10px;
}

.similar-product-link {
    text-decoration: none;
    color: white;
}

.similar-product-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-image-slider {
    height: 80px;
}

.similar-product-info {
    padding: 5px 10px;
}

.low-quantity {
    color: gold;
}

.buyBtn {
    background-color: black;
    color: white;
    border: 1px solid white;
}

@media only screen and (min-width: 200px) and (max-width: 768px) {

    .product-body {
        font-size: 11px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0 20px;
    }

    .product-container{
        display: flex;
        flex-direction: column;
    }

    .product-image-slider {
        height: max-content;
        width: 100%;
    }

    .product-single-image {
        height: 60px;
        border-radius: 7px;
    }

    .action-section {
        width: 100%;
    }

    .similar-product-container {
        width: min-content;
        height: 250px;
    }

    .similar-product-image {
        height: 150px;
    }
}