.product-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 70px;
}

.product-container {
    display: flex;
    gap: 20px;
}

.product-image-slider {
    height: 420px;
    border-radius: 7px;
}

.product-image-selector {
    display: flex;
}

.product-single-image {
    height: 90px;
    border-radius: 7px;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.action-section {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    width: 100%;
    margin: 5px 0;
}

.recommendation {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}

.recommendation-products ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.similar-product-container {
    width: min-content;
    border: 1px solid gray;
    border-radius: 10px;
}

.similar-product-link {
    text-decoration: none;
    color: white;
}

.similar-product-image {
    border-top-left-radius: 10px;
    height: 200px;
    width: 240px;
    object-fit: cover;
    border-top-right-radius: 10px;
}

.product-image-slider {
    height: 10px;
}

.product-image-slider {
    height: max-content;
}

.similar-product-info {
    padding: 5px 10px;
}

.low-quantity {
    color: gold;
}

.buyBtn {
    background-color: black;
    color: white;
    border: 
    1px solid white;
}

.content-container {
    width: fit-content;
    margin-left: 4em;
}

.reviews-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reviews-section-content {
    transition: all 1s ease-in-out;
}

.reviews-section-title {
    margin: auto;
    display: flex;
    align-items: center;
    padding: 6px;
    border-radius: 18px;
    background-color: rgb(26, 25, 25);
    border: 1px solid silver;
    width: fit-content;
    gap: 2px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.reviews-section-title:hover {
    background-color: rgb(54, 53, 53);
}

.reviews-section ul {
    list-style: none;
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.review-container {
    background-color: rgb(44, 42, 42);
    padding: 5px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review-image {
    border-radius: 50%;
    height: 40px;
}

.review-rating {
    display: flex;
    align-items: center;
    gap: 2px;
}

.review-image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.review-form {
    display: flex;
    gap: 5px;
    align-items: center;
}

.review-form-btn {
    height: fit-content;
    border-radius: 7px;
}

@media only screen and (min-width: 200px) and (max-width: 960px) {

    .product-body {
        font-size: 11px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0 20px;
    }

    .product-container{
        display: flex;
        flex-direction: column;
    }

    .product-image-slider {
        height: max-content;
        width: 100%;
    }

    .product-single-image {
        height: 60px;
        border-radius: 7px;
    }

    .action-section {
        width: 100%;
    }

    .similar-product-container {
        width: min-content;
        height: 250px;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
}