/* Updated CSS */
.product-creation-container {
  display: flex;
  height: 100vh;
}

.product-creation-form {
  margin: auto;
  background-color: rgb(29, 27, 27);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-row {
  margin-bottom: 15px;
}

.form-row label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-row input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.file-input {
  display: flex;
  align-items: center;
  background-color: white;
  color: black;
  width: max-content;
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
}

.inputfile {
  display: none;
}

.label-file-input {
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 4px;
}

.submitBtn {
  background-color: black;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: white;
}

.error {
  text-align: center;
  padding: 10px;
  border-radius: 14px;
  align-items: center;
  background-color: rgb(48, 14, 14);
  transition: all 0.6s ease-in-out;
  color: red;
}

.success {
  color: green;
  background-color: #000000;
  padding: 10px;
  width: max-content;
  border-radius: 10px;
}