/* banner.css */

.banner-container {
  margin: 20px auto;
  position: relative; /* Add position relative to make z-index work */
}

.slick-prev,
.slick-next {
  position: absolute; /* Set position to absolute */
  top: 50%; /* Position the arrows vertically centered */
  transform: translateY(-50%);
  z-index: 1; /* Ensure arrows are on top of the images */
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.slick-prev {
  left: 20px; /* Position the left arrow 20px from the left */
}

.slick-next {
  right: 20px; /* Position the right arrow 20px from the right */
}

.slider-container {
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
}

.custom-slider {
  width: 100%;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner img {
  margin: auto;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  height: 400px;
}

.banner-loading {
  height: 400px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 95%;
  margin: auto;
  margin-top: 10px;
  background-color: gray;
}

.spinner-loading{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner-loading{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #009688;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media only screen and (min-width: 200px) and (max-width: 760px) {
  .banner img {
    border-radius: 0;
    max-height: none;
  }

  .slider-container {
    width: 100%;
  }

  .banner img {
    height: 230px;
  }
}
